<ion-header>
  <ion-toolbar><ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img src="../../assets/img/NoPhotography-512.png">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
     
      <ion-icon class="nolinebreak" name="remove-circle" color="primary"  (click)="decreaseQuantity(item.produto)"></ion-icon>
      <p class="nolinebreak">{{item.quantidade}}</p>
      <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
      <p>{{item.produto.preco | currency}}</p>
      <ion-icon name="trash" item-end  color="danger" (click)="removeItem(item.produto)"></ion-icon>
      <br>
     
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total:</h1>
      <h1 item-end>{{total()}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list> 
  <ion-button block (click)="goOn()">Continuar comprando</ion-button>   
  <ion-button *ngIf="total() > 0"  color="secondary" block (click)="checkout()">Finalizar pedido</ion-button>   
</ion-content>
